@font-face {
  font-family: nordic;
  src: url(./Assets/Norse-Bold.otf);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  font-family: monospace;
  display: flex;
}

a {
  color: white;
}

.left {
  background-position: center center;
  background-image: url("./Assets/pixelperfektion-OS2WODdxy1A-unsplash.jpg");
  background-size: cover;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 3em;
  text-align: center;
}


.title {
  background-color: rgba(0, 0, 0, 0.256);
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: nordic;
}

.odin {
  height: 128px;
}

.credits {
  font-size: medium;
  margin-bottom: 12px;
}

.right {
  height: 100vh;
  width: 60vw;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  padding: 32px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

