@font-face {
  font-family: nordic;
  src: url(./Assets/Norse-Bold.otf);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  font-family: monospace;
  display: flex;
}

a {
  color: white;
}

.left {
  background-position: center center;
  background-image: url("./Assets/pixelperfektion-OS2WODdxy1A-unsplash.jpg");
  background-size: cover;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 3em;
  text-align: center;
}


.title {
  background-color: rgba(0, 0, 0, 0.256);
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: nordic;
}

.odin {
  height: 128px;
}

.credits {
  font-size: medium;
  margin-bottom: 12px;
}

.right {
  height: 100vh;
  width: 60vw;
  background-color: rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
}

.text div{
  padding: 32px;
  max-width: 470px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
}

form {
  padding: 32px;
  background-color: white;
  box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.05);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.form-div {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: flex-start;
  max-width: none;
}

.form-div div {
  display: flex;
  flex-direction: column;
}

input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

button {
  padding: 12px;
  max-width: 130px;
  color: white;
  background-color: darkslategray;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #355a5a;
}

button:active {
  background-color: #2b4848;
}

.log-in {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.log-in a {
  color: darkslategrey;
  text-decoration: none;
}